body {
    background-color: #397bae;
    color: rgb(51, 51, 51);
}

#home {
    display: none;
}

#newLogStart {
    display: none;
}
#siteConditons {
    display: none;
}

#doAndph {
    display: none;
}

#observations {
    display: none;
}

#nitrogen {
    display: none;
}

#bacteria {
    display: none;
}

#phosphorus {
    display: none;
}

#volunteers {
    display: visible;
}

.title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: xx-large;
    color: #FFFFF0;
    background-color: #397bae;
}

.itemLabel {
    font-size: x-large;
    font-weight: 500;
    color: #FFFFF0;
}

.itemSubLabel {
    font-size: large;
    font-weight: 400;
    color: #FFFFF0;
}


.itemTextbox {
    border-radius: 5px;
    border: none;
    color: black;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 8px;
}

.numberTextbox {
    border-radius: 5px;
    color: black;
    width: 60%;
    margin-left: 8px;
    height: 30px;
}

.itemTextarea {
    border-radius: 5px;
    border: none;
    color: black;
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 8px;
}

.formRow {
    padding: 10px 0 10px 0;
    background: #74b1d2;
    border-bottom: 1px solid rgba(240, 240, 240, 0.651);
}

.formRow-inline {
    position: relative;
    width: 100%;   
    display: table; 
    border-collapse: separate;
}

.btnRow {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #397bae;

}

.volunteerRow {
    background-color: #74b1d2;
    padding: 5px 0 3px 0;
}

.volunteerRowBottom {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.volunteerBtnContainer {
    margin-top: 5px;
    background: #397bae;
}

@media only screen and (max-device-width: 769px) {
    select {
        border-radius: 5px;
        color: black;
        width: 100%;
        height: 30px;
        font-size: 18px;
        font-weight: 500;
        padding-left: 8px;
         /* make arrow and background */
         background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #FFF;
         -webkit-appearance: none;
         background-position-x: calc(100% - 8px);
    }
}


@media only screen and (min-device-width: 770px) {
    body {
        background: #6398be;
        display: flex;
    }

    #main {
        background: #397bae;
        width: 75%;
        display: flex;
        margin: 0 auto;
    }
}
